.for-you {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  max-width: 1152px;
  margin: auto;
  padding: 24px;
}

.for-you .for-you-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 384px;
}

.for-you .for-you-infos h2 {
  color: var(--blue);
  font-weight: 500;
  font-size: 32px;
}

.for-you .for-you-infos dl {
  margin: 12px 0;
}

.for-you .for-you-infos dt {
  color: var(--black);
  font-weight: 500;
  font-size: 18px;
  margin: 8px 0;
}

.for-you .for-you-infos dd {
  color: var(--black);
  font-size: 16px;
  line-height: 24px;
}

.for-you .for-you-infos a {
  color: var(--blue);
  text-decoration: none;
  margin-top: 12px;
}

.for-you .for-you-infos a img {
  vertical-align: middle;
  transition: all 1s ease;
}

.for-you .for-you-infos a:hover img {
  transform: translate3d(8px, -8px, 0px);
  transition: all 1s ease;
}

.for-you .imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.for-you .imgs img {
  mix-blend-mode: normal;
  filter: drop-shadow(1px 1px 30px rgba(0, 0, 0, 0.15));
  border-radius: 8px;
  max-width: 240px;
  margin: 8px 0;
  animation-name: img-up;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.for-you .imgs .for-you-img-absolute {
  position: absolute;
  right: 20%;
  animation-name: img-down;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 850px) {
  .for-you {
    flex-direction: column;
  }
  .for-you .imgs {
    margin: 84px 0;
  }
  .for-you .imgs img {
    max-width: 200px;
    /* flex-direction: column; */
  }
}

@media (max-width: 400px) {
  .for-you .for-you-infos h2 {
    font-size: 24px;
  }
  .for-you .imgs {
    align-items: flex-start;
  }
  .for-you .imgs .for-you-img-absolute {
    right: 24px;
  }
}

@keyframes img-down {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes img-up {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
