header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  max-width: 1152px;
  background-image: url("../../images/background-banner.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-size: 50%;
  margin: auto;
  padding: 0 24px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: #fff;
  z-index: 4;
  width: 100%;
}

header nav #menu {
  border: none;
  background: transparent;
  display: none;
}

header nav a {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  text-decoration: none;
  margin: 0 24px;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.7s ease;
}

header nav a:hover {
  color: var(--blue);
}

a.drop-menu:hover + div.drop-down {
  display: flex;
}

div.drop-down {
  display: none;
  margin-left: 300px;
  position: absolute;
  border-radius: 24px;
  width: auto;
  justify-content: center;
  align-items: center;
  top: 64px;
  box-shadow: 1px 1px 50px 1px rgba(0, 48, 135, 0.15);
  padding: 24px 0;
  background-color: #fff;
  animation-name: dropdown;
  animation-duration: 1s;
}

@keyframes dropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.drop-down:hover {
  display: flex;
}

div.drop-down a:first-child {
  display: none;
}

header div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 504px;
}

header div h1 {
  color: var(--blue);
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

header div p {
  margin: 16px 0;
  color: var(--black);
  font-size: 16px;
  line-height: 24px;
}

header div a {
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  max-width: 288px;
  padding: 12px;
}

header div #open-account-link {
  background: var(--gradient);
  color: #fff;
  box-shadow: 3px 3px 15px 3px rgba(0, 179, 255, 0.1);
}

header div #login-link {
  border: 1px solid var(--blue);
  margin-top: 24px;
}

header div h1 span {
  background: linear-gradient(to top, #003087 -2.72%, #009cde 127.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 1000px) {
  header {
    background-size: 40%;
  }
}
@media (max-width: 600px) {
  header {
    background-image: none;
  }
  header nav {
    justify-content: center;
    align-items: flex-start;
    padding: 12px 0;
    flex-direction: column;
  }
  header nav #menu {
    margin-left: 24px;
    display: block;
  }
  header nav a {
    display: none;
    margin: 12px 0;
    padding: 0;
  }
  a.drop-menu:hover + div.drop-down {
    display: none;
  }
  a.drop-menu img {
    display: none;
  }
}

@media (max-width: 400px) {
  header div h1 {
    font-size: 28px;
    line-height: 36px;
  }
  header div a {
    width: 100%;
    max-width: 400px;
  }
  header div p {
    margin: 24px 0;
  }
}
