:root {
  --primary: rgb(0, 0, 71);
  --secondary: #7ebcf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  animation-name: container;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  width: 80px;
  height: 50px;
  background-color: var(--secondary);
  transform: rotate3d(1, 1, 1, -75deg);
  animation-name: box;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.box1 canvas {
  margin: -7px -2px;
}

.box2 canvas {
  margin: 3px -2px;
}

#absolute {
  width: 70px;
  height: 45px;
  position: absolute;
  margin-top: 43px;
  margin-left: 0.9px;
}

.name {
  position: absolute;
  margin-top: 180px;
  font-size: 24px;
  font-family: sans-serif;
  color: var(--secondary);
  animation-name: name;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes box {
  0% {
    background-color: var(--primary);
    transform: rotate3d(1, 1, 1, 75deg);
  }
  100% {
    background-color: var(--secondary);
    transform: rotate3d(1, 1, 1, -75deg);
  }
}

@keyframes container {
  0% {
    background-color: var(--secondary);
  }
  100% {
    background-color: var(--primary);
  }
}

@keyframes name {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
