.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 24px;
  position: absolute;
  top: 0;
}

.header nav #menu {
  border: none;
  background-color: transparent;
  display: none;
}

.header nav .links hr {
  display: none;
}

.header nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 32px;
}

.header nav .links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header nav .links ul li a {
  text-decoration: none;
  color: var(--grayishViolet);
  margin: 0 12px;
  font-weight: 700;
}

.header nav .links ul li a:hover {
  color: var(--veryDarkViolet);
  transition: all 0.7s ease-in;
}

.header nav .links div a {
  text-decoration: none;
}

.header nav .links div a#login {
  color: var(--grayishViolet);
  margin-right: 12px;
}

.header nav .links div a#signup {
  background-color: var(--cyan);
  padding: 8px 16px;
  border-radius: 300px;
  color: #fff;
}

.header nav .links div a#signup:hover {
  opacity: 0.5;
  transition: all 0.7s ease-in;
}

.header .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  max-width: 1440px;
}

.header .banner div {
  width: 100%;
  max-width: 400px;
}

.header .banner div h1 {
  font-size: 3rem;
  color: var(--veryDarkViolet);
  line-height: 56px;
}

.header .banner div p {
  color: var(--grayishViolet);
  margin: 12px 0 40px 0;
}

.header .banner div a {
  text-decoration: none;
  color: #fff;
  background-color: var(--cyan);
  padding: 12px 24px;
  border-radius: 200px;
}

.header .banner div a:hover {
  opacity: 0.5;
  transition: all 0.7s ease-in;
}

.header .banner img {
  max-width: 700px;
}

/* === RESPONSIVE === */
@media (max-width: 960px) {
  .header .banner img {
    max-width: 500px;
  }
}

@media (max-width: 880px) {
  .header .banner img {
    max-width: 400px;
  }
}

@media (max-width: 670px) {
  .header nav #menu {
    display: block;
  }
  .header nav .links {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: var(--darkViolet);
    top: 0;
    padding: 42px;
    border-radius: 24px;
    left: 5%;
    margin: 88px auto;
    width: 90%;
  }
  .header nav .links ul,
  .header nav .links div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header nav .links ul li {
    margin: 12px 0;
  }
  .header nav .links ul li:nth-child(1) {
    margin-top: 0;
  }
  .header nav .links ul li a {
    color: #fff;
    font-weight: 700;
  }
  .header nav .links hr {
    display: block;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.2);
    border: none;
    height: 1px;
    margin: 12px 0;
  }
  .header nav .links div a#login {
    margin: 12px 0;
  }
  .header nav .links div a#signup {
    margin-top: 12px;
    padding: 8px 40px;
  }
  .header .banner {
    flex-direction: column-reverse;
  }
  .header .banner div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header .banner div h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .header .banner div p {
    margin: 12px 0 24px 0;
    text-align: center;
  }
  .header {
    min-height: 115vh;
  }
}

@media (max-width: 420px) {
  .header .banner img {
    max-width: 300px;
    margin-bottom: 24px;
  }
  .header .banner div {
    width: 100%;
  }
  .header .banner div h1 {
    font-size: 2rem;
    line-height: 36px;
  }
}
